body {
    background: #1f4037; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main_div {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    width: 80%;
    height: 1000px;
    margin: 30px auto;
}

.main_div_bg {
    background: url(images/bg.png) no-repeat center;
    background-size: contain;
}

#logo {
    background: url(images/logo.png) no-repeat center;
    background-size: contain;
    width: 200px;
}

.header {
    background-color: #333;
    height: 40px;
    line-height: 40px;
    border-radius: 20px 20px 0 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container_style {
    background-color: white;
    border-radius: 0 0 20px 20px;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    margin-bottom: 30px;
}

#dometemp_val {
    font-size: 70px;
    font-weight: bold;
}
.dometemp_high {
    background: url(images/temp_high.svg) 80px no-repeat #fff;
    color: red;
}

.dometemp_low {
    background: url(images/temp_cold.svg) 80px no-repeat #fff;
    color: blue;
}

.temperature {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

button.btn.btn-primary {
    width: 80px;
    font-size: 40px;
    height: 80px;
}

#dometemp_val, #dometemp_low_val, #dometemp_high_val {
    display: inline-block;
    width: 100px;
}